
/* Your CSS Code here. */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.holder{
	display: flex;
	justify-content: space-evenly;
	font-size: 40px;
	flex-wrap: wrap;
	
}

.item{
	width: 100px;
	height: 100px;
	background-color: green;
}
